/* div{
   width: 300px;
   height: 300px;
   /* background-color: blue; */
   /* animation: Myanimate 5s infinite;
}
@keyframes Myanimate{
         0%{
           transform: translateX(0);
           background-color: aqua;
         }
         25%{
                  transform: translateX(500px);
                  background-color: blue;
         }
         50%{
                  transform: translateY(400px) translateX(500px);
                  background-color: blueviolet;
         }
         75%{
                  transform: translateX(0) translateY(400px);
                  background-color: brown;
         }
         100%{

         } */
         /* form{
                  transform: rotateX(0);
         }
         to{
                  transform: translateY(700px);
         } */
          div{
            width: 300px;
            height: 300px;
            border-radius: 50%;
            border: 10px solid pink;
            border-top: 10px solid blue;
            animation: spin 3s linear infinite;
            border-right: 20px sloid yellow;
            background-color: aqua;
          }
          @keyframes spin{
                  from{
                           transform: rotate(0deg);        
                  }
                  to{
                           transform: rotate(360deg);
                  }
          }
