/* .contain{
         display: grid;
         grid-template-rows: 100px 100px 100px 100px 100px;
         grid-template-columns: 100%;
         grid-template-areas: 
         "header"
         "main"
         "left"
         "right"
         "footer"
} */
@media (min-width:768px){
 .contain{
        display: grid;
         grid-template-rows: 200px 300px 300px 100px;
         grid-template-columns: 100%;
         grid-template-areas:
         "header header"
         "main main"
         "left right"
         "footer footer" 

 }
 }
 @media (min-width:1200px){
         .contain{
         display: grid;
         grid-template-rows: 200px 500px 100px;
         grid-template-columns: 100%;
         grid-template-areas:
         "header header header"
         "main main main"
         "left main right"
         "footer footer footer"       
         }
 }
 .header{
         background-color: brown;
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
 }
 .main{
         background-color:blanchedalmond;
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
 }
 .left{
         background-color: yellow;
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
 }
 .right{
         background-color: green;
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
 }
 .footer{
         background-color: aqua;
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
 }

         


