@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*,
::after,
::before{       
         margin: 0;
         padding: 0;
         box-sizing: border-box;
}
html{
         font-size: 62.5%;
         /* 1rem=10px */
}
body{
    font-family: "Noto Sans", sans-serif;
    font-size: 1.8rem;
    background-color: #010514;
}
:root{
         --text-light:white;
}
h1,
h2{
   font-size: 2.2rem;
}
span{
         display: inline-block;
}
a{
         text-decoration: none;
}
p{
    color: var(--text-light);
}
.container{
         max-width: 1300px;
         background-color: red;
}