@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*,
::after,
::before{       
         margin: 0;
         padding: 0;
         box-sizing: border-box;
}
html{
         font-size: 62.5%;
         /* 1rem=10px */
}
body{
    font-family: "Noto Sans", sans-serif;
    font-size: 1.8rem;
    background-color: #010514;
}
:root{
         --text-light:white;
}
h1,
h2{
   font-size: 2.2rem;
}
span{
         display: inline-block;
}
a{
         text-decoration: none;
}
p{
    color: var(--text-light);
}
.container{
         max-width: 1300px;
         background-color: red;
}


.container{
         max-width: 90%;
         background-color: brown;
         margin: auto;
}
.bg{
         width: 100%;
         background-image: url("/photo_2025-12-04_14-32-50.jpg");
         background-position: center;
         background-size: cover;
         display: flex;
         flex-direction: column;
         align-items: center;
}
.content{
         height: 500px;
}
.logo{
         margin: 7rem;
}
.poster{
         width: 100%;
         height: 300px;
}
.poster img{
         width: 100%;
         height: 100%;
}
.txt-movie{
    color: #eee;
    height: 200px;
    width: 80%;
    margin-top: 3.5rem;
}
.txt-movie > span{
    font-size: 5rem;
    font-weight: 800;
    text-align: center;
    line-height: 1;
}
.txt-movie > span > span{
    background-color: azure;
}
.input-group{
    width: 40%;
    height: 45px;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    border: 2px solid blueviolet;
    border-radius: 5px;
    overflow: hidden;
}
.input-group span{
    width: 10%;
    background-color: red;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-group > input{
      display: block;
      width: 90%;
      height: 100%;
      font-size: 2.2rem;
      border: none;
      background-color: transparent;
      color: #eee;
}
.input-group input:focus{
    outline: none;
}

@media (min-width:768px){
        .poster{
         width: 60%;
         height: 300px;
} 
        .poster img{
         width: 100%;
         height: 100%;
}
}
@media (min-width:992px){
       .poster{
         width: 40%;
         height: 300px;
} 
        .poster img{
         width: 100%;
         height: 100%;
}  
}
@media (min-width:1200px){

}
