body{
    font-family: Arial , sans-serif;
    margin: 0;
    padding: 20px;
    background-color:violet;     
}
h1{ text-align: center;}
  form{
display: flex;
justify-content: center;
flex-direction: column;
max-width: 300px;
margin: auto;
background-color: white;
padding: 20px;
border-radius: 15px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} 
input{
         margin-bottom: 15px;
         padding: 10px;
         border: 1px solid rgb(128, 128, 128);
         border-radius: 15px;
}      
button:hover{
         background-color: blueviolet;       
}
.message{
         text-align: center;
         margin-top: 10px;
         color: red; 
}